<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:WsdlInterface" id="518ff8b8-1e67-481e-9af0-339611ee39ae" wsaVersion="NONE" name="GlobalWeatherSoap" type="wsdl" bindingName="{http://www.webserviceX.NET}GlobalWeatherSoap" soapVersion="1_1" anonymous="optional" definition="http://www.webservicex.net/globalweather.asmx?wsdl" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="518ff8b8-1e67-481e-9af0-339611ee39aefileName">GlobalWeatherSoap</con:setting></con:settings><con:definitionCache/><con:endpoints><con:endpoint>http://www.webservicex.net/globalweather.asmx</con:endpoint><con:endpoint>http://www.webservicex.net/globalweather1.asmx</con:endpoint></con:endpoints></con:interface>